* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.8rem;
    font-family: 'Libre Franklin', sans-serif;
}

main.background {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 75px;
    margin-bottom: 2rem;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: .8rem;
}

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
}

span {
    font-weight: 700;
    font-size: 40px;
    color: black;
}

h2 {
    font-weight: normal;
    font-size: 1.125rem;
    margin-bottom: 1.8rem;
}

form {
    position: relative; 
    display: block; 
    width: 600px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(50%);
}

div.input-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

input {
    padding-inline: 18px;
    border-radius: 30px;
    flex-grow: 1;
    width: 370px;
    border: 1px solid hsl(0, 0%, 85%);
    outline-style: none;
    font-size: 15px;
}

input::placeholder {
    color: hsl(0, 0%, 85%);
}

button {
    padding: 13px;
    border-radius: 30px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    font-size: 14.5px;
    letter-spacing: 1px;
    width: 170px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(223, 87%, 70%);
}

p.error-message {
    font-size: 12px;
    color: hsl(354, 100%, 66%); 
    visibility: hidden;
    min-height: 1.2em;
    position: absolute; 
    top: 55px;
    left: 10px;
    width: 370px; 
    text-align: left;
}

.dashboard {
    max-width: 550px;
    width: 100%;
    margin: 50px auto 60px;
    margin-bottom: 60px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links {
    display: flex;
    gap: 12px;
    font-size: 15px;
    margin-bottom: .8rem;
    color: #0000ee;
}

.social-links a i {
    display: inline-flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 50%;
    font-size: 13px;
}

.attribution {
    font-size: 12px;
    color: hsl(0, 0%, 70%);
}

.social-links a:active i,
.social-links a:visited i {
    color: #0000ee;
    ;
}

.social-links a i:hover {
    color: #fff;
    background-color: #0000ee;
    border: none;
}

@media (max-width: 600px) {

    form {
        position: relative;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

   h1 {
        font-weight: 300;
        font-size: 1.875rem;
        letter-spacing: 1px; 
        text-align: center;
    }

    span {
        font-weight: 700;
        font-size: 1.875rem;
        text-align: center;
    }

    h2 {
        font-size: 1rem;
        text-align: center;
    }

    div.title {
        gap: 0; 
        margin-bottom: 1rem;
    }

    div.input-button {
        flex-direction: column;
    }

    input {
        width: 100%;
        height: 40px;
        flex-grow: 0;
    }

    p.error-message {
        position: static;
        text-align: center;
        width: 100%;
        display: none;
        margin-top: -5px; 
        margin-bottom: 5px; 
        left: auto; 
        top: auto; 
    }

    button {
        width: 100%;
        height: 40px;
    }

    .dashboard {
        width: 90%;
        margin: 50px auto 60px;
    }

}

