* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /*  justify-content: center; */
    align-items: center;
    padding: 3.8rem;
    font-family: 'Libre Franklin', sans-serif;
}

section.background {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  <----- HEADER ----->   */

header {
    display: flex;
    flex-direction: column;
    /*  justify-content: center; */
    align-items: center;
}

.logo {
    width: 75px;
    margin-bottom: 2rem;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: .8rem;
}

h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 1.8rem;
}

.principle {
    font-weight: 300;
    font-size: 40px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
}

.end {
    font-weight: 700;
    font-size: 40px;
}

/*  <----- FORM ----->   */

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 50px;
    /*  background-color: rgb(0, 255, 60); */
}

input {
    padding-inline: 18px;
    border-radius: 30px;
    width: 370px;
    border: 1px solid hsl(0, 0%, 85%);
    outline-style: none;
    font-size: 15px;
}

input::placeholder {
    color: hsl(0, 0%, 85%);
}

button {
    padding: 13px;
    border-radius: 30px;
    border: none;
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    font-size: 14.5px;
    letter-spacing: 1px;
    width: 170px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(223, 87%, 70%);
}

.dashboard {
    width: 550px;
    margin: 50px;
    margin-bottom: 60px;
}

/*  <----- FOOTER ----->   */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links {
    display: flex;
    gap: 12px;
    font-size: 15px;
    margin-bottom: .8rem;
}

.social-links a i {
    display: inline-flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 50%;
    font-size: 13px;
}

.attribution {
    font-size: 12px;
    color: hsl(0, 0%, 70%);
}

.social-links a i:hover {
    color: #fff;
    background-color: #0000ee;
    border: none;
}